/* Add here all your CSS customizations */

html {

    /* font-family: nunito, sans-serif !important; */
    font-family: 'Josefin Sans', sans-serif !important;
    color: #24150C !important;
}
#header .header-body{
    border-bottom: solid 1px #E87B1D !important;
}

html .text-color-primary, html .text-primary{
    color: #450000 !important;
}
.ml-null{
    padding-left: 0 !important;
}
#header .header-btn-collapse-nav{
background: #450000 !important;
}
#header .header-nav-main:not(.header-nav-main-mobile-dark) nav > ul > li > a{
    color: #450000 !important;
}
div.service_list {
    /* background-color: lightblue; */
    height: 110px;
    /* width: 200px; */
    overflow-y: scroll;
  }
  
  html .list-primary.list-icons li > [class*="fa-"]:first-child, html .list-primary.list-icons li a:first-child > [class*="fa-"]:first-child, html .list-primary.list-icons li > .icons:first-child, html .list-primary.list-icons li a:first-child > .icons:first-child{
    color: #450000 !important;
    border-color: #450000 !important;
  }

.border-bottom-light{
    border-bottom: 1px solid #FFF0D8;
}

.border-bottom-dark{
    border-bottom: 1px solid #D3C2BE;
}

.section-store-find{
    border-bottom: solid 1px #E87B1D !important;
    /* position: fixed; top: 100px; */
}
.badge {
    /* display: inline-block; */
    padding: .75em 1.2em !important;
    font-size: 85% !important;
    background-color: #E87B1D !important;
}

#header .header-nav.header-nav-links nav > ul:not(:hover) > li > a.active {
    color: #000;
}

html section.section-primary {
    background-color: #FFF0D8 !important;
    border-color: #9D6255 !important;
}
html section.section-white {
    background-color: #FFF !important;
    /* border-color: #9D6255 !important; */
}

html section.section-primary h1, html section.section-primary h2, html section.section-primary h3, html section.section-primary h4, html section.section-primary h5, html section.section-primary h6{
    color: #000;
}

.big{
    font-size: 2.5rem !important;
    font-family: lato;
    font-weight: 900 !important;
    color: #000
}

.big_red{
    font-size: 2.5rem !important;
    font-weight: 900 !important;
    font-family: lato;
    color: #450000
}

#footer {
    border-top: 0;
    background: #F1F1F1 !important;
}

#footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6{
    color: #000 !important;
}

section.section.section-height-0{
    padding: 0;
}

.no-padding{
    padding-left: 0 !important;
    margin-bottom: 0 !important;
}

.owl-carousel.stage-margin.stage-margin-lg .owl-stage-outer{
    margin-left: 0 !important;
margin-right: 0 !important;
}

.pad-5{
    padding: 5px !important;
}

.btn-primary{
    background-color: #450000 !important;
    border: 0 !important;
}

.page-header{
    margin: 0;
    padding: 0;
}
.card-body {
    padding: 1.7rem !important;
}
.box-shadow-2 {
    -webkit-box-shadow: 0 15px 30px -15px rgba(0, 0, 0, 0.45) !important;
    box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.45) !important;

}
/* .owl-carousel .owl-nav button.owl-prev::before{
    font-size: 1.5rem !important;
} */

.page-header-modern.page-header-background.page-header-background-sm{
    padding: .03rem !important;
    background-color: #450000 !important;
}

.social-icons.logo li a{
    width: 80px !important;
    margin: 10px !important;
    /* padding: 10px !important; */
}

.social-icons.logo:not(.social-icons-clean) li{
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

@media only screen and (max-width:1024px){
    #header .header-body{
        visibility: hidden !important;
        clear: both !important;
        display: none !important;
      }
      #footer{
        visibility: hidden !important;
        clear: both !important;
        display: none !important; 
      }
  }
